<div class="row">
	<div class="col-md-12">
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">Buscar facturas</h3>
				<div class="input-group col-md-3 pull-right">
					<input type="text" name="q" class="form-control" placeholder="Factura nro...." ng-model="nroinvoiceprint">
					<span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat" ng-click="generateprintinvoice();"><i class="fa fa-search"></i></button>
              </span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="invoicePrint" id="invoice-file">
	<p clase="columnCenter"><b>{{datainvoice.titleCompany}}</b></p>
	<p clase="columnCenter">{{datainvoice.titleOffice}}<br /> {{datainvoice.addressOffice}} Telf: {{datainvoice.phoneOffice}}<br /> {{datainvoice.detailOffice}}</p>
	<p clase="columnCenter">------------------------------------------------------------</p>
	<p clase="columnCenter">FACTURA ORIGINAL</p>
	<p clase="columnCenter">------------------------------------------------------------</p>
	<p clase="columnCenter">NIT: {{datainvoice.numberidCompany}}<br /> FACTURA Nro: {{datainvoice.numberInvoice}}<br /> AUTORIZACION: {{datainvoice.numberorderInvoice}}</p>
	<p clase="columnCenter">------------------------------------------------------------</p>
	<p clase="columnCenter">FECHA: {{datainvoice.dateInvoice}}<br /> SENOR(es): {{datainvoice.nameInvoice}}<br /> NIT/CI: {{datainvoice.numbernitInvoice}}</p>

	<table class="table">
		<thead>
			<tr>
				<th clase="columnCenter">CANT.</th>
				<th clase="columnCenter">DESCRIPCION</th>
				<th clase="columnCenter">PRECIO</th>
				<th clase="columnCenter">TOTAL</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="detail in detailinvoice">
				<td>{{detail.quantity}}</td>
				<td>{{detail.Item.name}}</td>
				<td>{{detail.price}}</td>
				<td>{{detail.price * detail.quantity}}</td>
			</tr>
		</tbody>
		<tfoot>
			<td></td>
			<td></td>
			<td>TOTAL Bs</td>
			<td>{{datainvoice.total}}</td>
		</tfoot>
	</table>
	<p>Son: {{datainvoice.totalliteral}}</p>
	<p clase="columnCenter">------------------------------------------------------------</p>
	<p>CÓDIGO DE CONTROL: {{datainvoice.codecontrolInvoice}}</p>
	<p>FECHA LIMITE DE EMISION {{datainvoice.deadline}}</p>
	<p><label id="qrinvoice"></label></p>

	<p clase="columnCenter">{{datainvoice.noteCompany}}</p>

	<p clase="columnCenter">------------------------------------------------------------
		<br /> GRACIAS POR SU PREFERENCIA</p>
	<p clase="columnCenter">------------------------------------------------------------</p>

	<div class="row hidden-print">
		<div class="col-xs-12">
			<button class="btn btn-sm btn-default" onclick="window.print();"><i class="fa fa-print"></i> Print</button>
		</div>
	</div>
</div>
<style>
	@media print {
		label {
			display: block;
			margin: 5px 0;
		}
		.ticket {
			padding-top: 10px;
		}
		#invoice-file {
			font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
			font-weight: normal;
			font-style: normal;
			width: 100% !important;
			font-size: 14px !important;
			text-align: center;
			display: block !important;
		}
		#invoice-file div {
			border-bottom: solid #BBB 1px;
		}
		#invoice-file .footer {
			border-bottom: none;
		}
	}
</style>